// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// EV Slide specific
$ev-blue: #15bcd8;
$ev-green: #32c3b2;
$ev-orange: #f68e4f;
$ev-darkgray: #424b58;
$ev-lightgray: #afb7c1;

$box-shadow: 2px 3px 2px rgba(150, 150, 150, 0.2);
$accent-box-shadow: 2px 3px 2px rgba(50, 50, 50, 0.8);

$border: 1px solid rgba(0, 0, 0, 0.05);
