// Specific CSS for your home-page
#outer-wrapper {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
}

#container {
  position: relative;
  height: 100vh;
}

body {
  background-color: white;
  // background: linear-gradient($ev-blue, $ev-blue 30%, $ev-red 70%, $ev-red 90%);
  background: linear-gradient($ev-blue, $ev-blue 20%, transparent 89%, transparent 90%);
  // background: linear-gradient($ev-blue, transparent 70%);
  background-attachment: fixed;
  min-height: 100vh;
}

#acdc-body {
  background: linear-gradient($ev-blue, $ev-green 40%, $ev-orange 70%, $ev-red 90%);
  background-attachment: fixed;
}

#login-body {
  // background: linear-gradient($ev-blue, $ev-blue 40%, transparent 60%, transparent 90%,);
  background: linear-gradient($ev-green, $ev-blue);
  min-height: 100vh;
}

.login-logo {
  display: flex;
  justify-content: center;
  padding-top: 30%;
}
#login-app_name {
  font-family: $body-font;
  font-ight: strong;
  font-size: 24px;
  width: 120px;
}

#logo {
  width: 130px;
}

.form-control {
  width: 90%;
  margin: 2px 5%;
}

.form-div {
  padding: 10%;
  padding-top: 20%;
}

.email {
    background: $ev-darkgray;
    border-radius: 8px;
    height: 45px;
    color: white;
    &:focus {
      color: white;
      background: $ev-darkgray;
    }
}

.password {
    background: $ev-darkgray;
    border-radius: 8px;
    height: 45px;
    color: white;
    &:focus {
      color: white;
      background: $ev-darkgray;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px $ev-darkgray inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}

.form-group {
  background-color: transparent;
}

.ev-login-button {
  background-color: $ev-orange;
  color: white;
  font-weight: strong;
  border-radius: 18px;
  width: 90%;
  height: 45px;
  margin: 2px 5%;
}

.form-check-input {
  margin-left: 1px;
}

.form-check-label {
  margin-left: 18px;
}
#link-div {
  padding-left: 22px;
  padding-top: 22px;
//  border: solid purple;
}

a {
  color: $ev-darkgray;
  text-decoration: none;
}
