// Specific CSS for your home-page
#outer-wrapper {
  background-color: #49E07C;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

#inner-wrapper {
  background-color: white;
  border-radius: 5px;
  margin: 4px;
  padding: 5px;
}

#container {

}

#footer {
  position: fixed;
  left: 5;
  bottom: 5;
  width: 96vw;
  padding-right: 2rem;
  padding-left: 2rem;
  background-color: #D7FBC1;
}
