
<div id="header">
  <div class="center">
  <div id="app_name">EV SLIDE</div>
    <%= image_tag "wheels.png", class: "ev-3-cars-logo"%>
  </div>
  <div class="push">
    <%= link_to image_tag("logout_grey.png", class: "log-out-btn"), destroy_user_session_path, method: :delete %>
  </div>
</div>
