<div id="header">
  <div class="center">
    <div id="app_name">EV SLIDE</div>
    <%= image_tag "car.png", height: '75', width: '75' %>
  </div>
    <div class="push">
      <%= image_tag "logout.png", height: '40', width: '40' %>
    </div>
</div>
