<% flash.each do | name, msg | %>
<%= content_tag :div, msg, :id => "flash" if msg.length > 0 %>
<% end %>

<div class='ev-card d-flex justify-content-between'>
  <div><%= image_tag current_user.photo, class: "avatar" %></div>
  <div class="d-flex justify-content-between list-for-name">
    <div><%= current_user.first_name %> <%= current_user.last_name %></div>
    <div>
    </div>
  </div>
</div>

