#starting-time {
  visibility: hidden;
}

#current-time {
  visibility: hidden;
}

.progress-clock {
  display: flex;
  justify-content: center;
  vertical-align: text-top;
  opacity: 0;
}

.time-display {
  font-family: $body-font;
  font-weight: bold;
}
