.cloud {
  // position: relative;
  margin-right: -10px;
  margin-top: 8px;
  z-index: 1;
  // margin : 20px auto;
  // animation : shake .5s ease-in infinite;
  animation : slide-left 3s ease-in infinite;
}

.slide-left {
  animation: slide-left 3s ease-in both;
}

.slide-right {
  animation: slide-right 0.3s ease-in both;
}

@keyframes slide-right {
  0% {
    transform: translateX(-120px);
  }
  100% {
    transform: translateX(100px);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(90px);
  }

  100% {
    transform: translateX(-120px);
  }
}

@keyframes shake {
  50%  {transform  : rotate( 2deg);}
  100% {transform  : rotate(-2deg);}
}

.cloud-img {
  width: 80px;
}
