.ev-card {
  margin: 1rem !important;
  border: $border;
  border-radius: 5px;
  box-shadow: $box-shadow;
  align-items: center;
  padding: 0 1rem 0 1rem;
  height: 9%;
}

#charging-post-dropdown {
  margin-top: 1rem;
  margin-bottom: auto;
}

.activity-field {
  text-align: center;
  align-items: center;
}

.fa-grip-vertical {
  font-size: 2.5rem;
  transform: scaleX(3);
  text-align: left;
}

.hidden-placeholder {
  visibility: hidden;
}

i {
  margin: 0px;
}

select {
  width: 100% !important;
}

#outlet-div {

}

.charger {
  width: 50px;
}
.btn-success {
  background-color: $ev-green;
  border-radius: 10px;
  height: 35px;
}
.btn-warning {
  background-color: $ev-orange;
  // width: 50px;
  border-radius: 10px;
  height: 35px;
}
#points {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  p {
    margin-bottom: 0px;
  }
}
#acdc {
  font-family: $body-font;
//  font-weight: bold;
  font-size: 9;
  padding-bottom: 0px;
}
#plus_points {
  width: 52px;
  height: 32px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  color: green;
  box-shadow: $box-shadow;
    p {
    font-family: $body-font;
    font-weight: bold;
    padding-top: 5px;
  }
}

#minus_points {
  width: 52px;
  height: 32px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  color: red;
  box-shadow: $box-shadow;
  p {
    font-family: $body-font;
    font-weight: bold;
    padding-top: 5px;
  }
}
#reg-plate {
  font-family: courier;
  margin-bottom: 0px;
}
