.ev-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem !important;
  border: $border;
  border-radius: 5px;
  box-shadow: $box-shadow;
  padding: 0 1rem 0 1rem;
  height: 12%;
}

/* #high-score-card {
  height: 11.5%;
} */

#charging-post-dropdown {
  margin-top: 1rem;
  margin-bottom: auto;
}

.activity-field {
  text-align: center;
  align-items: center;
}

.fa-grip-vertical {
  font-size: 2.5rem;
  transform: scaleX(3);
  text-align: left;
}

.hidden-placeholder {
  visibility: hidden;
}

i {
  margin: 0px;
}

select {
  width: 100% !important;
}

.charger {
  width: 50px;
}

.btn-success {
  background-color: $ev-green;
  border-radius: 10px;
  height: 35px;
}

.btn-warning {
  background-color: $ev-orange;
  //width: 50px;
  border-radius: 10px;
  height: 35px;
}

.score-div {
  // position: absolute;
  z-index: 10;
  margin-left: 16px;
  margin-top: -41px;
}

.positive-score {
  color: $ev-blue;
  font-size: 1.5rem;
}

.negative-score {
  color: $ev-red;
  font-size: 2rem;
  text-shadow: 1px 1px black;
}

#points {
  align-items: center;
  justify-content:center;
  padding: 0.2rem 0.5rem;
}

#plus_points {
  width: 52px;
  height: 32px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  color: green;
  box-shadow: $box-shadow;
    p {
    font-family: $body-font;
    font-weight: bold;
    padding-top: 5px;
  }
}

#minus_points {
  width: 52px;
  height: 32px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  color: red;
  box-shadow: $box-shadow;
  p {
    font-family: $body-font;
    font-weight: bold;
    padding-top: 5px;
  }
}

#reg-plate {
  font-family: courier;
  width: 110px;
  margin-bottom: 0px;
  border: solid black;
  background-color: white;
  padding: 4px;
  border-radius: 5px;
  border-width: 2px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;

}
.ev-flex-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
//  border: solid green;
}

#ev-start-charging-button {
  display: flex;
  justify-content: space-between;
//  border: solid black;
  width: 120px;
}

.ev-spacing {
  padding-left: 10px;
}

#ev-battery-pic {
  position: relative;
}
#ev-battery-number {
  position: absolute;
  top: 12px;
  left: 8px;
}
#ev-p-battery-number {
  font-weight: bold;
  margin-bottom: 0px;
}
.battery {
  height: 50px;
  box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
}
