.navbar-lewagon {
  height: 50px;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-around;
  padding-bottom: 0.5rem !important;
}

.navbar {
  justify-content: space-around !important;
}

.navbar-img {
  height: 80%;
}

.navbar-item {
  height: 40px;
  //align-items: center;
}

#space-for-navbar {
  height: 90px;
  width: 100%;
}
