.navbar-lewagon {
  height: 12%;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.navbar-img {
  height: 20px;
}

.navbar-item {
  height: 10px;
  //align-items: center;
}

#space-for-navbar {
  height: 90px;
  width: 100%;
}
