.name-in-list {
  text-align: left;
}

.list-for-name {
  width: 100%;
  margin-left: 1rem;
}

.me-card {
  border: 5px solid $ev-green;
  box-shadow: $accent-box-shadow;
}

.me-card-charger-available {
  background-color: $ev-green;
}

#ev-queue-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  margin-left: 5px;
}

.ev-queue-button {
  background-color: $ev-green;
  color: black;
  border-radius: 18px;
  width: 50%;
  height: 45px;
  margin: 2px 5%;
}

.ev-queue-img {
  height: 35px;
}

#q-charger {
  height: 20px;
}
